# Python Einführung
## Basics
das ist eine Markdown-Zelle für Kommentare

In [1]:
print("Hello world!")

Hello world!

In [2]:
# das ist ein Kommentar in python
print("Hello world!")

Hello world!

## einfache Datentypen

In [3]:
# Variablen und Wertezuweisung (value assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [4]:
# integer = Ganzzahl
age = 73
print(age)

73

In [5]:
# float = Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [6]:
# Boolean = Boolscher Wert (True or False)
is_scientist = True
print(is_scientist)

True

In [7]:
type(name)

str

In [9]:
type(size)

float

In [10]:
name
age

73

In [11]:
print(name)
print(age)

Hawking
73

## Operatoren

In [12]:
5 + 5

10

In [13]:
age * 100

7300

In [14]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [15]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [17]:
name + "10"

'Hawking10'

In [18]:
type(size)

float

In [19]:
type(age)

int

In [20]:
size/age

0.023456164383561642

In [21]:
number_of_articles = "50"

In [22]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [23]:
int(number_of_articles)/10

5.0

In [24]:
type(number_of_articles)

str

In [26]:
zahl = 5
andere_zahl = 6
#wenn eine Zelle nicht ausgeführt wird, übernimmt python die Werte nicht für Folgezellen

In [27]:
zahl + andere_zahl

11

In [28]:
%who
#gibt alle Variablen an, die ich definiert habe

age	 andere_zahl	 is_scientist	 name	 number_of_articles	 size	 zahl

In [29]:
zahl = 20

In [30]:
zahl = "10"
int(zahl)
type(zahl)
#zahl geschrieben als string, danach wird die variable zahl in eine integer umgewandelt, danach mit type ausgeben, ergebnis bleibt string

str

In [32]:
Ganzzahl = int(zahl)
type(Ganzzahl)

int

## Funktionen und Methoden

In [33]:
len(name)
#das ist eine Funktion, zählt die Anzahl der Zeichen

7

In [34]:
name.upper()
#das ist eine Methode, gibt die Eingabe in Großbuchstaben wieder, ist an eine Variable gebunden

'HAWKING'

In [35]:
name
#Variable behält dennoch den ursprünglichen Wert, Methode ändert nicht den Wert

'Hawking'

In [37]:
name = name.upper()
print(name)
#hier wird die Variable geändert

HAWKING

In [39]:
name.replace("W", "Blablabla")
#nach name.TAB-Taste drücken zeigt alle Methoden

'HABlablablaKING'

In [40]:
first_name = "Anna"

In [41]:
first_name.count("A")
#wird nur eins gezählt, da großbuchstabe nur gezählt wird

1

In [42]:
first_name + name

'AnnaHAWKING'

In [43]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [44]:
names = ["Darwin", "Hawking", "Curie"]
#das ist eine Liste; die Elemente werden in eckige Klammern gesetzt und durch Kommata getrennt

In [45]:
names[1]
#Ausgabe von Elementen einer Liste; Zählung beginnt bei 0

'Hawking'

In [46]:
names[0]

'Darwin'

In [47]:
len(names)
#Funktion len um die Anzahl der Liste zu ermitteln

3

In [48]:
names[-1]
#um das letzte Element auszulesen

'Curie'

In [49]:
names[0:2]
#gibt aus: einschließlich das erste, aber ausschließlich das Element 2, also Element 0 und 1 werden ausgegeben

['Darwin', 'Hawking']

In [50]:
names[:]
#alle Elemente

['Darwin', 'Hawking', 'Curie']

In [51]:
names[:2]
#alle Elemente ausschließlich des letzten

['Darwin', 'Hawking']

In [52]:
slice_value = 2

In [53]:
names[slice_value]

'Curie'

In [54]:
names[1:]
#gibt alle Elemente ab dem ersten bis zum letzten aus

['Hawking', 'Curie']

In [55]:
names[:slice_value]

['Darwin', 'Hawking']

In [56]:
names[slice_value:]

['Curie']

In [57]:
authors_and_ages = {"Darwin": 73,
                    "Goethe": 83,
                    "Lovelace": 37}
#das ist ein dictionary; wird mit {} ausgezeichnet, besteht aus einem Schlüssel (authors_and_ages) und einem dazugehörenden Werte-Paar

In [58]:
authors_and_ages["Darwin"]

73

In [60]:
authors_and_birthplaces = {"Darwin": "London",
                    "Goethe": "Frankfurt",
                    "Lovelace": "unbekannt"}
#dictonaries können auch nur strings enthalten

In [61]:
authors_and_birthplaces["Lovelace"]

'unbekannt'

In [62]:
names.append("Kleist")
#append fügt der Liste names einen weiteren Wert hinzu

In [63]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [65]:
authors_and_ages["Rowling"] = 53
#fügt neu hinzu

In [66]:
authors_and_ages

{'Darwin': 73, 'Goethe': 80, 'Lovelace': 50, 'Rowling': 53}

## for-Schleife

In [67]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [69]:
for name in names:
    print(name + " " "is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

In [70]:
names.remove?
#anhängen eines Fragezeichens ruft die Hilfe auf

## Bedingte Anweisungen (conditionals)

In [71]:
temp = 20
if temp > 15:
    print("it's warm")
#prüft ob der Wert in if wahr oder falsch ist und führt dann aus, wenn ja

it's warm

In [72]:
temp = 10
if temp > 15:
    print("it's warm")
#gibt nichts aus, da Wert false ist

In [73]:
temp = 10
if temp > 15:
    print("it's warm")
else:
    print("it's cold")

it's cold

In [78]:
temp = 18
if temp >= 25:
    print("it's hot") 
elif temp > 15:
    print("it's warm") 
else:
    print("it's cold")

it's warm